
{% extends 'accounts/manager_dashboard.html' %}
{% block manager_dashboard %}




<section class="container-fluid">
    <div class="row">

        <div class="col-12 mx-auto">
              <h5 class=" text-center fw-bold ">Personal Information</h5>
          
<div class="table-responsive">
  
  <!-- ছোট ডিভাইসে ছবি উপরে দেখানোর জন্য -->
  {% if photo %}
  <div class="d-block d-md-none text-center mb-3">
    <img src="{{ photo.applicant_image.url }}" class="img-thumbnail mb-2" style="max-width: 150px; width: 100%;">
    <img src="{{ photo.applicant_sig.url }}" class="img-thumbnail" style="max-width: 150px; width: 100%; height: 50px;">
  </div>
  {% endif %}

  <table class="table table-hover align-middle">
    <tr>
      <td>Applicant's Name</td>
      <td>:</td>
      <td colspan="4" class="fw-bold">{{ applicant.full_name }}</td>

      {% if photo %}
      <!-- বড় স্ক্রিনে টেবিলের ডান পাশে ছবি -->
      <td rowspan="8" class="text-end align-top d-none d-sm-table-cell">
        <img src="{{ photo.applicant_image.url }}" class="img-thumbnail mb-2" style="width: 100%; max-width: 150px;">
        <img src="{{ photo.applicant_sig.url }}" class="img-thumbnail" style="width: 100%; max-width: 150px; height: 50px;">
      </td>
      {% endif %}
    </tr>
    <tr>
      <td>Father's Name</td>
      <td>:</td>
      <td>{{ personal_info.father_name }}</td>
      <td>Mother's Name</td>
      <td>:</td>
      <td>{{ personal_info.mother_name }}</td>
    </tr>
    <tr>
      <td>Date of Birth</td>
      <td>:</td>
      <td>{{ personal_info.date_of_birth }}</td>
      <td>Mobile Number</td>
      <td>:</td>
      <td>{{ applicant.mobile_number }}</td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>:</td>
      <td>{{ personal_info.sex }}</td>
      <td>Religion</td>
      <td>:</td>
      <td>{{ personal_info.religion }}</td>
    </tr>
    <tr>
      <td>Blood Group</td>
      <td>:</td>
      <td>{{ personal_info.blood_group }}</td>
      <td>Nationality</td>
      <td>:</td>
      <td>{{ personal_info.nationality }}</td>
    </tr>
    <tr>
      <td>National ID</td>
      <td>:</td>
      <td>{{ personal_info.national_id }}</td>
      <td>Email</td>
      <td>:</td>
      <td>{{ applicant.email }}</td>
    </tr>
    <tr>
      <td>Present Address</td>
      <td>:</td>
      <td>{{ personal_info.present_address }}</td>
      <td>Permanent Address</td>
      <td>:</td>
      <td>{{ personal_info.permanent_address }}</td>
    </tr>
    <tr>
      <td>Payment</td>
      <td>:</td>
      <td class="fw-semibold">{{ payment.status }} by {{ payment.payment_method }}</td>
      <td>Transaction ID</td>
      <td>:</td>
      <td class="fw-semibold">{{ payment.transaction_id }}</td>
    </tr>
  </table>
</div>

         

        </div>

    </div>

    <div class="row">
             <h5 class=" text-center fw-bold ">Academic Information</h5>

           <div class="col-md-6">
                      <div class="alert alert-success">
                          <h5 class="mb-0">SSC or Equivalent Level</h5>
                      </div>
                      <table class="table table-hover">
                          <tr>
                              <td>Examination</td>
                              <td>:</td>
                              <td colspan="4">{{ academic_info.ssc_exam }}</td>
                          </tr>
                          <tr>
                              <td>Board</td>
                              <td>:</td>
                              <td colspan="4">{{ academic_info.ssc_board }}</td>
                          </tr>
                          <tr>
                              <td>Roll No</td>
                              <td>:</td>
                              <td colspan="4">{{ academic_info.ssc_roll }}</td>
                          </tr>
                          <tr>
                              <td>Result</td>
                              <td>:</td>
                              <td colspan="4"><span class="fw-bold">{{ academic_info.ssc_result|default_if_none:"" }}</span> {{ academic_info.ssc_result_type|default_if_none:"" }}</td>
                          </tr>
                          <tr>
                              <td>Group</td>
                              <td>:</td>
                              <td colspan="4">{{ academic_info.ssc_group }}</td>
                          </tr>
                          <tr>
                              <td>Passing Year</td>
                              <td>:</td>
                              <td colspan="4">{{ academic_info.ssc_passing_year }}</td>
                          </tr>
                      </table>
                  </div>
                  <div class="col-md-6">
                      <div class="alert alert-info">
                          <h5 class="mb-0">HSC or Equivalent Level</h5>
                      </div>
                      <table class="table table-hover">
                          <tr>
                              <td>Examination</td>
                              <td>:</td>
                              <td colspan="4">{{ academic_info.hsc_exam }}</td>
                          </tr>
                          <tr>
                              <td>Board</td>
                              <td>:</td>
                              <td colspan="4">{{ academic_info.hsc_board }}</td>
                          </tr>
                          <tr>
                              <td>Roll No</td>
                              <td>:</td>
                              <td colspan="4">{{ academic_info.hsc_roll }}</td>
                          </tr>
                          <tr>
                              <td>Result</td>
                              <td>:</td>
                              <td colspan="4"><span class="fw-bold">{{ academic_info.hsc_result|default_if_none:"" }}</span> {{academic_info.hsc_result_type|default_if_none:"" }}</td>
                          </tr>
                          <tr>
                              <td>Group</td>
                              <td>:</td>
                              <td colspan="4">{{ academic_info.hsc_group }}</td>
                          </tr>
                          <tr>
                              <td>Passing Year</td>
                              <td>:</td>
                              <td colspan="4">{{ academic_info.hsc_passing_year }}</td>
                          </tr>
                      </table>
                  </div>

                        <!-- Graduation Level -->
                  <div class="col-md-6">
                      <div class="alert alert-primary">
                          <h5 class="mb-0">Graduation Level</h5>
                      </div>
                      <table class="table table-hover">
                          <tr>
                              <td>Examination</td>
                              <td>:</td>
                              <td colspan="4">{{ academic_info.graduation_exam|default_if_none:"" }}</td>
                          </tr>
                          <tr>
                              <td>Subject</td>
                              <td>:</td>
                              <td >{{ academic_info.graduation_subject|default_if_none:"" }}</td>
                          </tr>
                          <tr>
                              <td>University/Institute</td>
                              <td>:</td>
                              <td>{{ academic_info.graduation_university|default_if_none:"" }}</td>
                          </tr>
                          <tr>
                              <td>Result</td>
                              <td>:</td>
                              <td>
                               <span class="fw-bold">{{ academic_info.graduation_result|default_if_none:"" }}</span>
                                  {{ academic_info.graduation_result_type|default_if_none:"" }}
                                  
                              </td>
                          </tr>
                          <tr>
                              <td>Passing Year</td>
                              <td>:</td>
                              <td>{{ academic_info.graduation_passing_year|default_if_none:"" }}</td>
                          </tr>
                          <tr>
                              <td>Course Duration</td>
                              <td>:</td>
                              <td>{{ academic_info.graduation_course_duration|default_if_none:"" }}</td>
                          </tr>
                      </table>
                  </div>
              
                  <!-- Post Graduation Level -->
                  <div class="col-md-6">
                      <div class="alert alert-danger">
                          <h5 class="mb-0">Post Graduation Level</h5>
                      </div>
                      <table class="table table-hover">
                          <tr>
                              <td>Examination</td>
                              <td>:</td>
                              <td colspan="4">{{ academic_info.post_graduation_exam|default_if_none:"" }}</td>
                          </tr>
                          <tr>
                              <td>Subject</td>
                              <td>:</td>
                              <td colspan="4">{{ academic_info.post_graduation_subject|default_if_none:"" }}</td>
                          </tr>
                          <tr>
                              <td>University/Institute</td>
                              <td>:</td>
                              <td colspan="4">{{ academic_info.post_graduation_university|default_if_none:"" }}</td>
                          </tr>
                          <tr>
                              <td>Result</td>
                              <td>:</td>
                              <td colspan="4">
                                  <span class="fw-bold">{{ academic_info.post_graduation_result|default_if_none:"" }}</span>
                                  {{ academic_info.post_graduation_result_type|default_if_none:"" }}
                                  
                              </td>
                          </tr>
                          <tr>
                              <td>Passing Year</td>
                              <td>:</td>
                              <td colspan="4">{{ academic_info.post_graduation_passing_year|default_if_none:"" }}</td>
                          </tr>
                          <tr>
                              <td >Course Duration</td>
                              <td>:</td>
                              <td colspan="4">{{ academic_info.post_graduation_course_duration|default_if_none:"" }}</td>
                          </tr>
                      </table>
                  </div>
        
    </div>


</section>





{% endblock %}
