
<section class="noPrint main_gallery">
  <div class="header d-flex align-items-center justify-content-center bg-white py-2">
    <img src="/static/img/JU_logo.png" alt="logo" class="me-2 d-none d-md-block" style="width: 100px;">
    <img src="/static/img/JU_logo.png" alt="logo" class="me-2 d-block d-md-none" style="width: 90px;">

    <div class="header-text text-center">
      <h5 class="fw-bold mb-0" style="font-family: 'Georgia', serif; color: #003c78;">
        Weekend Masters in Environmental Sciences and Management
      </h5>
      <p class="fw-bold mb-0" style="font-family: 'Courier New', monospace; color: #011213;">
        Department of Environmental Science, Jahangirnagar University
      </p>
    </div>
  </div>
</section>


<section class="navbar_section container-fluid  sticky-top" style="background: darkcyan;">

  <div class="row">
    <div class="col-lg-10   mx-auto">
      <div class="row">
        <div class="">


<nav class="navbar navbar-expand-lg  sticky-top">
  <div class="container">
    <a class="navbar-brand fw-bold text-white" href="#">WMES Program</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link active fw-bold text-white" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold text-white" href="{% url 'Admission_Notice' %}">Notice</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold text-white" href="{% url 'applicant_register' %}">Apply</a>
        </li>

        <!-- Services Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fw-bold text-white" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admission
          </a>
          <ul class="dropdown-menu border-0 rounded-0" aria-labelledby="servicesDropdown" style="background: darkcyan;">
            <li><a class="dropdown-item py-1 px-2" href="{% url 'admission_procedure' %}">Admission Procedure</a></li>
            <li><a class="dropdown-item py-1 px-2" href="{% url 'syllabus_info' %}">Syllabus</a></li>
            <li><a class="dropdown-item py-1 px-2" target="_blank" href="https://juniv.edu/teachers?department_id=45">Faculty</a></li>
          </ul>
        </li>

      

        <!-- Profile Dropdown -->
        <li class="nav-item dropdown" >
          {% if request.user.is_authenticated %}
            <a class="nav-link dropdown-toggle fw-bold text-white" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ request.user.username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end  border-0 rounded-0" aria-labelledby="profileDropdown" style="background: darkcyan;">
              {% if request.user.role == 'applicant' %}
                <li><a class="dropdown-item  py-1 px-2" href="{% url 'applicant_dashboard' %}">Dashboard</a></li>
              {% elif request.user.role == 'teacher' %}
                <li><a class="dropdown-item py-1 px-2" href="{% url 'teacher_dashboard' %}">Dashboard</a></li>
              {% elif request.user.role == 'student' %}
                <li><a class="dropdown-item py-1 px-2" href="{% url 'student_dashboard' %}">Dashboard</a></li>
              {% elif request.user.role == 'manager' %}
                <li><a class="dropdown-item py-1 px-2" href="{% url 'manager_dashboard' %}">Dashboard</a></li>
              {% else %}
                <li><a class="dropdown-item py-1 px-2" href="{% url 'home' %}">🏠 Home</a></li>
              {% endif %}
      
              <li><a class="dropdown-item px-2 py-1" href="{% url 'applicant_logout' %}" onclick="confirmLogout(event)">Logout</a></li>

            </ul>
          {% else %}
            <a class="nav-link fw-semibold text-white" href="{% url 'login' %}">Login</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>



<style>
  .dropdown:hover .dropdown-menu {
    display: block;
  }

</style>







        </div>
      </div>
    </div>
  </div>
</section>


